@font-face {
    font-family: SFAutomaton;
    src: url(../fonts/SFAutomaton.ttf);
}

#train-table th,
td {
  display: inline-block;
  width: 20%;
}

#title {
    font-family: "SFAutomaton";
    font-style: italic;
}


    