@font-face {
    font-family: DOTMATRI;
    src: url(../fonts/DOTMATRI.TTF);
}

@font-face {
    font-family: DOTMBold;
    src: url(../fonts/DOTMBold.TTF);
}




body {
    background-image: url("../images/techBackground3.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-color: black;
    background-size: cover;
}

    